<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-between">
        <a href="/" class="btn btn-link">На главную</a>
        <a href="/authorisation" class="btn btn-link">Авторизоваться</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">Регистрация</div>
                <div class="card-body">
                    <form action="/registration" method="post">
                        <div class="form-group">
                            <label for="floatingName">Имя</label>
                            <input type="text" class="form-control" id="floatingName" name="name" placeholder="Имя"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="floatingInput">Адрес электронной почты</label>
                            <input type="email" class="form-control" id="floatingInput" name="email"
                                   placeholder="name@example.com" required>
                        </div>
                        <div class="form-group">
                            <label for="floatingPassword">Пароль</label>
                            <input type="password" class="form-control" id="floatingPassword" name="password"
                                   placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <label for="floatingConfirmPassword">Подтверждение пароля</label>
                            <input type="password" class="form-control" id="floatingConfirmPassword"
                                   name="confirm_password" placeholder="Password" required>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
